@import 'src/index';

.List--completed {
    .List__item {
        background-color: rgba($color-white, 0.5);
        color: #a9a9a9;
    }
}

.List__item {
    display: block;
    padding: 5px 30px;
    background-color: $color-white;
    border-width: 1px;
    border-style: solid;
    border-color: $color-black;
    cursor: pointer;

    margin-bottom: 5px;

    &:hover {
        background-color: aliceblue;
    }

    &:first-child {
        border-width: 0 1px 1px 1px;
    }
}
