$color-black: #000000;
$color-white: #ffffff;
$color-gray: #ececec;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + 0.35vh);
}

input {
    box-sizing: border-box;
    padding: 0;
    font-size: inherit;
}
